[submodule "PoseidonSharp"]
	path = PoseidonSharp
	url = https://github.com/fudgebucket27/PoseidonSharp
[submodule "WalletConnectSharp"]
	path = WalletConnectSharp
	url = https://github.com/WalletConnect/WalletConnectSharp
